<div class="row container mt-4">
    <div class="col-3">
        <h2>Searches</h2>
        <hr>
        <ul class="list-group">
            <li routerLink=""
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="list-group-item list-group-item-action">
                Search Country
            </li>
            <li
                routerLinkActive="active"
                routerLink="region"
                class="list-group-item">
                By region
            </li>
            <li
                routerLinkActive="active"
                routerLink="capital"
                class="list-group-item">
                By Capital
            </li>
        </ul>
    </div>

    <div class="col">
        <router-outlet></router-outlet>
    </div>
</div>